body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5e6;
    color: #333;
}

header {
    background-color: #ff914d;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.menu h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.menu-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #e67300;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #ffcc80;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.reservation-section {
    background-color: #f7f7f7;
    padding: 40px;
    text-align: center;
}

.reservationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

.reservationForm label {
    margin-top: 10px;
    font-weight: bold;
}

.reservationForm input {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reservationForm button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5e00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.reservationForm button:hover {
    background-color: #e04e00;
}

.confrimation-message {
    margin-top: 20px;
    font-size: 1.1em;
    color: green;
}